<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "New", :action => :new %>
    <h1>Contacts</h1>
    <%= link_to "Home", RhoConfig::start_path %>
  </div>

  <div data-role="content">
    <table>
      <tr>
      <% @contacts.each do |obj| %>
        
            <td class="recordLabel"><%= link_to "#{obj.name_email_id_message}", :action => :show, :id => obj.object %></td>
        
      <% end %>
      </tr>
    </table>
  </div>

</div>
