<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>SenchaTouchApp</title>
<link href="/public/css/sencha-touch.css" media="all" rel="stylesheet" type="text/css" />
<script  type="text/javascript" src="/public/sencha/sdk/sencha-touch-all.js"></script>

<script  type="text/javascript" src="/public/sencha/app.js"></script> 

 
   
</head>

<body

    <%= @content %>
</body>

</html>
